{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
    <style>
        .wrapper {
            width: 100%;
            min-height: 500px;
            height: auto;
            background-color: #eeeeee;
            padding-top: 50px;
            margin-bottom: 50px;
        }

        table {
            width: 90%;
            height: auto;
            border: #313131 4px double;
        }

        tr {
            width: 100%;
        }

        td {
            width: 33%;
        }

        tr * {
            border: #313131 1px solid;
        }
    </style>


    <div class="wrapper">
        <div class="helper-button">
            <button class="btn btn-lg btn-primary" type="button">
                <a href="{{ app.request.getBaseURL() }}/product/add" >Add Product </a>
            </button>
        </div>
        <table>
            <tr>
                <th> Name</th>
                <th> Description</th>
                <th> Action</th>
            </tr>
            {% for item in products %}
                <tr>
                    <td>{{ item.getTitle }}</td>
                    <td>{{ item.getDescription }}</td>
                    <td>
                        <a href="{{ app.request.getBaseURL() }}/product/edit/{{ item.getId }}">Edit</a>
                        <a href="{{ app.request.getBaseURL() }}/product/delete/{{ item.getId }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

